.home {
    padding-bottom: 50px;
}

.home-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: -150px;
}

.MuiPaper-root:nth-child(2n) {
    background-color: #3F90FC;
}
.MuiPaper-root:nth-child(2n + 1) {
    background-color: #FF7044;
}
.MuiPaper-root:nth-child(3n + 1) {
    background-color: #421FCF;
}
.MuiPaper-root:nth-child(5n + 1) {
    background-color: #FFBD3E;
}
.MuiPaper-root:nth-child(7n + 1) {
    background-color: #00ff6a;
}
.MuiTypography-gutterBottom {
    margin-bottom: 0 !important;
}
.MuiTypography-h5 {
    transform: translateY(-12px);
}
